<!DOCTYPE html>
<html>
  <body>
    <h1><%= app.message %></h1>
    <a href="/camball"><h3>Go to our secret santa for camballs!</h3></a>
  </body>
</html>
<%-contentFor('title')%>
My Blog Application
